@import './mixins.scss';
@import './variables.scss';

.cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;

    &::after { // This fixes the space-between issue on the second row
        content: "";
        width: 12.5rem;
        padding: 1rem;

        @media (max-width: $tablet) {
            width: 10rem;
        }

        @media (max-width: $mobile-large) {
            width: 65%;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        height: 20rem;
        width: 12.5rem;
        background-color: transparent;
        border-radius: .5rem;
        border: 1px solid whitesmoke;
        padding: 1rem;
        margin-bottom: 1rem;

        @media (max-width: $tablet) {
            width: 10rem;
        }

        @media (max-width: $mobile-large) {
            width: 65%;
            margin-inline: auto;
        }

        h3 {
            @include heading-three;
            min-height: 4rem;
            margin-bottom: 1rem;
        }

        .icon {
            display: block;
            margin: 0 auto;
            margin-bottom: 1rem
        }

        p {
            @include paragraph;
            margin-bottom: .5rem;
            font-size: 1.2rem;
        }

        .text-container {
            display: block;
            margin-top: auto;
        }
    }
}