@import './mixins.scss';
@import './variables.scss';

.main-container {
    height: 100vh;
    width: auto;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;

    h1 {
        @include heading-one;
        width: fit-content;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    input {
        min-height: 1.5rem; // min-height to prevent height bug on search
        width: 10rem;
        padding: .25rem .5rem;
        display: block;
        outline: none;
        border: 1px solid black;
        margin-bottom: 1rem;

        @media (max-width: $mobile-large) {
            width: calc(90vw - 1rem);
        }
    }

    h2 {
        @include heading-two;
        width: 90%;
        margin: 3rem auto 1rem auto;
    }
}