@import './mixins.scss';

.main-container {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        @include heading-one;
        width: fit-content;
    }

    input {
        height: 1.5rem;
        width: 10rem;
        padding: .25rem .5rem;
        display: block;
        outline: none;
        border: 1px solid black;
    }
}

.card {
    width: 300px;
    background-color: cadetblue;
    border-radius: 10px;
}