@import './mixins.scss';

.main-container {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        @include heading-one;
        width: fit-content;
    }

    input {
        display: block;
    }
}

.card {
    width: 300px;
    background-color: cadetblue;
    border-radius: 10px;
}