@mixin heading-one {
    font-size: 3rem;
    color: black;
    margin: 0 0 1rem 0;
}

@mixin heading-two {
    font-size: 2rem;
    color: black;
    margin: 0 0 1rem 0;
}

@mixin paragraph {
    margin: 0;
}